.nav {
  background-color: #E1B15D;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.banner {
  display: flex;
  gap: 1.5rem;
}

.banner img {
  margin: auto 0;
  height: 4.3rem;
  width: 4.5rem;
}

.title {
  color: white;
  font-size: 2rem;
}

.title, .list {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
}

.list {
  padding: 0 1rem;
  display: flex;
  gap: 2.5rem;
  font-size: 1.25rem;
  margin: auto 0;
}

.link {
  color: white;
}